{erl_opts, [debug_info]}.

{deps, []}.

{minimum_otp_vsn, "22"}.

{dialyzer, [{warnings, [no_return, unmatched_returns, error_handling, underspecs]}]}.

{xref_checks,
 [deprecated_function_calls, exports_not_used, locals_not_used, undefined_function_calls]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{alias,
 [{test, [compile, xref, dialyzer, {ct, "--verbose"}, cover, edoc]}]}.

{shell, [
    {apps, [logstasher]}
]}.
