{erl_opts, [debug_info]}.

{deps, [
  {jsx, "3.1.0"}
]}.

{minimum_otp_vsn, "22"}.

{project_plugins, [
  {rebar3_hex, "~> 7.0.1"},
  {rebar3_edoc_extensions, "~> 0.2.5"}
]}.

{dialyzer, [{warnings, [no_return, unmatched_returns, error_handling, underspecs]}]}.

{xref_checks,
 [deprecated_function_calls, exports_not_used, locals_not_used, undefined_function_calls]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{alias,
 [{test, [compile, xref, dialyzer, {ct, "--verbose"}, cover, edoc]}]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [logstasher]}
]}.
