[
    {kernel, [
        {logger, [
            {handler, logstash, logstasher_h,
                #{
                    level => info%,
                    %config => #{
                    %    host => "localhost",
                    %    port => 8080
                    %}
                }
            }
        ]}
    ]},

    {logstasher, [
        {transport, tcp},     % tcp | udp
        {host , "localhost"}, % inet:hostname()
        {port, 8080}          % inet:port_number()
    ]}
].
